body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    margin: 1rem 0;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #111;
}

.Grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 300px;
}
