/*CSS variables section*/
:root {
    background-color: rgb(170, 170, 170);
}

/*Extra Large screens - Extra large desktops*/

main {
    width: 80% !important;
    margin: auto !important;
}

.title {
    color: white;
    font-weight: 600;
    font-size: 40px;
    margin: 50px 0px;
    text-align: center;
    text-transform: uppercase;
}

h5 {
    color: white;
}

span {
    padding-right: 10px;
}

.email-contact {
    width: 80%;
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


/*General CSS and CSS reset*/

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}



/* ____________________________________________________________________*/
/*MEDIA QUERIES*/

/*Large screens - Desktop*/
@media screen and (max-width: 1300) {}

/*medium screens - Laptops*/
@media screen and (max-width: 1024px) {
    main {
        width: 100% !important;
        margin: auto !important;
    }
}

/*Small screens - tablets*/
@media screen and (max-width: 768px) {
    header a {
        font-size: 14px;
    }

    .hero {
        height: 400px !important;
    }

    .hero-description {
        height: 400px;
        background-color: rgba(0, 0, 21, .7);
    }

    h5 {
        font-size: 17px;
    }

}

/*Extra small screens - phones*/
@media screen and (max-width: 480px) {
    .hero {
        height: 450px !important;
    }

    p {
        font-size: 12px;
    }

}