#divisionSelector,
#seasonSelector {
    background-color: inherit;
    border: none;
    color: black;
    font-weight: bold;
}

.filters {
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 4px;
    color: white;
    display: flex;
    height: 20px;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px 0px;
}

.filters h4,
.filters select {
    margin-right: 10px;
}

.filters h4:last-child,
.filters select:last-child {
    margin-right: 0;
}

.filters ul {
    color: #2e5fff;
    list-style-position: inside;
    list-style-type: square;
}

.filters li {
    
}

.filters li span {
    color: black;
    font-style: italic;
}