.filters {
    color: white;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.filters h4,
.filters select {
    margin-right: 10px;
}

.filters h4:last-child,
.filters select:last-child {
    margin-right: 0;
}

#divisionSelector,
#seasonSelector {
    background-color: inherit;
    border: none;
    color: black;
    font-weight: bold;
}